@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face */
@font-face {
  font-family: "CairoliNow";
  src: url("../pages/fonts/CairoliNow_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "CairoliNow", sans-serif !important;
  background-color: #262626;
}

/* @media (max-width: 425px) {
  .mob-hero-video {
    width: 100%;
    height: 300px;
    margin: 0 25px;
  }
} */

@media (max-width: 769px) {
  .services-head-mob{
    font-size: 15px;
  }
  .services-para-mob{
    font-size: 10px;
  }
  .mob-proj > h1 {
    font-size: 35px;
    margin-left: 15px;
  }
  .mob-proj-2 > h1 {
    font-size: 35px;
  }
  button {
    font-size: small;
  }
  section {
    margin: 10px 0 !important;
  }
  .head-mobile {
    font-size: 30px;
  }
  .sub-head-mobile {
    font-size: small !important;
  }
  .padd-mob {
    padding: 20px 0;
  }
  .header-mob {
    gap: 6px;
  }
  .mob-yellow {
    bottom: -2px !important;
    left: 25px !important;
  }
  .mob-yellow > img {
    width: 78%;
  }
  .mob-hero {
    width: fit-content;
    padding: 0 10px;
    font-size: medium;
  }
  .mob-hero-text {
    font-size: small !important;
    color: #c9c9c9;
    line-height: 26px !important;
  }
  .mob-hero-video {
    width: 100%;
    height: 210px;
    margin: 0 10px;
    border-radius: 15px;
  }
  .mob-proj-init {
    display: block;
    margin: 0 30px;
  }
  .mob-proj {
    width: 100%;
  }
  .mob-proj-img {
    left: 70px;
    display: block;
  }
  .mob-proj-img-contact {
    width: 100%;
    left: 0x;
    justify-content: end;
  }
  .mob-proj-img-services {
    left: 55px;
    display: block;
  }
  .mob-proj-img > img {
    width: 235px;
  }
  .mob-proj-section {
    width: fit-content;
    margin: 0 15px;
  }
  .cards-mob {
    border-radius: 5px;
  }
  .cards-mob > h1 {
    font-size: 20px;
  }
  .block-mob-1{
    width: 70%;
  }
  .block-mob-2{
    width: 30%;
    align-items: baseline;
  }
  .block-mob-3{
    width: 65%;
    height: 180px;
  }
  .block-mob-4{
    width: 35%;
    height: 180px;
  }
  .cards-mob span{
    font-size: 9px;
  }
  .cards-mob-para{
    font-size: 10px;
  }
  .services-mob-init {
    width: fit-content;
    margin-bottom: 10px;
  }
  .mob-pagination{
    width: 10px;
    height: 10px;
  }
  .last-section-main-mob{
    margin: 10px 0;
  }
  .last-section-main-mob > h1{
    font-size: 12px;
    font-weight: 500;
  }
  .last-section-mainbutton-mob{
    font-size: 10px;
    font-weight: 600;
  }
  .margin-adjust{
    margin: 5px 0;
  }
  .services-card{
    border-radius: 5px;
  }
  .services-main {
    margin: 0 25px;
    display: block;
  }
  .footer-main-mob{
    padding: 20px 0;
  }
  .footer-main-mob > .container{
    padding: 0 10px;
  }
  .footer-text{
    font-size: 10px;
  }
  .last1 {
    margin: 0 35px;
    flex-direction: column;
  }
  .about-mob-main {
    padding: 0;
  }
  .about-mob-1 {
    padding: 0 20px;
  }
  .about-mob-head {
    width: 100%;
    font-size: larger;
  }
  .about-mob-para {
    font-size: small;
  }
  .about-mob-head-1{
    width: 100%;
  }
  .about-mob-head-1 > h1 {
    font-size: 20px;
    white-space: nowrap;
  }
  #navbarSupportedContent {
    padding: 25px 10px;
  }
  .nav-link {
    font-size: x-small;
  }
  .inqueue {
    width: 75px;
  }
  .contact-mob {
    width: 100%;
    margin: 0 10px;
    padding: 25px;
  }
}

@media (max-width: 1500px) {
  .mob-hero {
    width: fit-content;
    padding: 0 10px;
    font-size: medium;
  }
  .mob-hero-text {
    font-size: larger;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .mob-yellow > img {
    width: 260px;
  }
}

@media (min-width: 769px) and (max-width: 3000px) {
  .mob-yellow {
    bottom: -12px !important;
    left: 48px !important;
  }
  #inqueuestudio-image {
    width: 245px !important;
    max-width: 245px !important;
  }
}

@media (min-width: 769px) and (max-width: 825px) {
  .mob-proj-img {
    left: 34%;
    display: block;
  }
  /* .mob-proj-img > img {
    width: 235px;
  } */
}

@media (min-width: 826px) and (max-width: 1250px) {
  .mob-proj-img {
    left: 31.5%;
    display: block;
  }
}
/* .mob-proj-img > img {
  width: 235px;
} */

@media (min-width: 1251px) and (max-width: 1650px) {
  .mob-proj-img {
    left: 30%;
    display: block;
  }
}
/* .mob-proj-img > img {
  width: 235px;
} */

@media (min-width: 1651px) and (max-width: 1850px) {
  .mob-proj-img {
    left: 29.5%;
    display: block;
  }
}
/* .mob-proj-img > img {
  width: 235px;
} */

@media (min-width: 1851px) and (max-width: 2200px) {
  .mob-proj-img {
    left: 29%;
    display: block;
  }
}
/* .mob-proj-img > img {
  width: 235px;
} */

@media (min-width: 2201px) and (max-width: 3000px) {
  .mob-proj-img {
    left: 28%;
    display: block;
  }
}
/* .mob-proj-img > img {
  width: 235px;
} */
